

body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
.carousel {
  max-width: 100%; /* Make sure carousel does not exceed container width */
}

.carousel-inner img {
    width: 100%; 
    height: 1000%;
    object-fit: cover; 

}

#carouselExampleDark {
    max-width: 50%;
    margin: 0 auto;
}

#mine {
    width: 50%;
    height: 50%;
    margin: auto;
}



#about{
    padding-left: 500px;
    padding-top: 20px;
}

.fixed-card {
  width: 350px; /* Adjusted fixed width */
  height: 450px; /* Adjusted fixed height */
  overflow: hidden; /* Ensures that overflow content is hidden */
  margin: 10px; /* Optional: Adds spacing around each card */
}

.card-img-top {
  height: 220px; /* Adjusted fixed height for the image */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  width: 100%; /* Ensures the image takes the full width of the card */
}

